@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Календарь";
    ViewBag.Header = "Календарь";
}

@{
    string[] nameDay = new string[] { "Воскресенье","Понедельник", "Вторник", "Среда","Четверг","Пятница","Суббота" };
    string[] nameMonth = new string[] { "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентабрь", "Октябрь", "Ноябрь", "Декабрь" };
}

<h2>Это тестовая версия календаря</h2>

<a href="/HelloWorld/Calendar">Перейти на настоящую вурсию</a>

